@model Modelo.Empleado

@{
    ViewBag.Title = "Create";
}

@*<h2>Create</h2>*@

@using (Html.BeginForm("Create","Home")) 
{
    @Html.AntiForgeryToken()

    <br />
    <h4>Registrar empleado</h4>
    <br />
    <hr />

    <div class="row">
        <div class="col-sm col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <div class="form-horizontal">
               
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                  
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "badge badge-danger" })
                    
                </div>

                <div class="form-group">
                    @Html.Label("Apellido paterno", htmlAttributes: new { @class = "control-label" })
                    
                        @Html.EditorFor(model => model.Apellido_paterno, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Apellido_paterno, "", new { @class = "badge badge-danger" })
                    
                </div>

                <div class="form-group">
                    @Html.Label("Apellido materno", htmlAttributes: new { @class = "control-label" })
                 
                        @Html.EditorFor(model => model.Apellido_materno, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Apellido_materno, "", new { @class = "badge badge-danger" })
                    
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Edad, htmlAttributes: new { @class = "control-label" })
                    
                        @Html.EditorFor(model => model.Edad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Edad, "", new { @class = "badge badge-danger" })
                    
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2">
                        <input type="submit" value="Registrar" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm col-md-2"></div>
    </div>

 
}

<div>
    @Html.ActionLink("< Regresar", "Index")
</div>
